body,
html {
  margin: 0;
  padding: 0;
}

.theme-default {
  .lrcItem {
    color: #e5ff00;
    &.select {
      color: #00ff4c;
    }
  }
}

.theme-light {
  .lrcItem {
    color: black;
    &.select {
      color: white;
    }
  }
}

.theme-dark {
  .lrcItem {
    color: white;
    &.select {
      color: black;
    }
  }
}
